body{
    box-sizing: border-box;
    background-color: #1e202b;
    font-family: "Roboto", "Open Sans", sans-serif;
}
.navbar{
    background-color: #1e202b !important;
}
.describtion{
    font-size: 10px !important;
    color: #bfc1c8 !important;
}
.navbar .active{
    color: #009ad8 !important;
    border: 2px solid #009ad8 !important;
    border-radius: 30px !important;
}
.navbar ul li a{
    padding: 2px 22px !important;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    transition: all 0.3s;
}
.navbar ul a:hover{
    border-color: #009ad8 !important;
    color: #009ad8 !important;  
}
.search{
    background-image: url(../images/weather.jpg);
    background-size: cover;
    padding: 70px 0;
    min-height: 350px !important;
}
.search-input{
    background-color:#1e202b;
    border-color: transparent !important;
}
.search-input:focus{
    box-shadow: none !important;
    background-color:#1e202b !important;
}
::placeholder{
    color: gray!important;
}
#submit{
    position: absolute;
    top: 30px;
    right: 5px;
    bottom: 30px;
    padding: 0 40px;
    border-radius: 30px;
    background: #009ad8;
}
.navbar-toggler{
    background: none;
    border:  solid transparent;
    /* background-color: white; */
    padding: 20px;
    border-radius: 40px;
    transition: 0.3s ease;
}
.navbar-toggler:hover{
    border-color: #009ad8 !important;
    color: #009ad8 !important;  
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar-toggler-icon:focus{
    border: none !important;
}
.navbar-collapse{
    text-align: center !important;
    
}
.cards{
    background: #323544;
    overflow: hidden;
    border-radius: 10px;
    margin-top: -150px;
    margin-bottom: 50px;
    margin-left: 5px;
}
.card-header{
    background: rgba(0, 0, 0, 0.1) !important;
    padding:10px !important ;
    width: 100% !important;
    color: #bfc1c8;
}
.card-body .city{
    color: #bfc1c8;
    font-size: 20px;
}
.card-body .degree{
    color:white;
    font-weight: bolder;
    font-size: 90px;
}
.card-body .state{
    color: #009ad8;
}
.card-body .icon-footer{
    color: #bfc1c8;
}
.weather-tomorrow{
    background-color: #262936;
}
.icon-weatherState i{
    font-size: 44px;
}
footer{
    background: #262936;
    padding: 30px 0;
}
#subscribe{
    position: absolute;
    top: 30px;
    right: 5px;
    bottom: 30px;
    padding: 0 20px;
    border-radius: 30px;
    background: #009ad8;
}
footer .circle{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background-color:#1e202b !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    transition: all 0.5s;
    cursor: pointer;
}
footer .circle:hover i{
    color: white !important;
}
footer .circle:hover{
    background-color: #009ad8 !important;
}
footer .circle i{
    transition: all 0.5s;
}
footer p{
    color: #bfc1c8;
    font-size: 14px;
}



.pageTap{
    background: #262936;
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 13px;
    /* font-size: 0.9285714286em; */
}
.pageTap a:hover{
    text-decoration: underline !important;
}
.contact-info{
    background: #262936 !important;
    border-radius: 10px !important;
}
.contact-info iframe{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contactForm input{
    transition: all 0.3s;
}
.contactForm input:hover{
    border-color: #009ad8 !important;
}
.contactForm input:focus{
    box-shadow: none !important;
    border-color: #009ad8 !important;
}
.contactForm textarea{
    transition: all 0.3s;
}
.contactForm textarea:hover{
    border-color: #009ad8 !important;
}
.contactForm textarea:focus{
    box-shadow: none !important;
    border-color: #009ad8 !important;
}